
  <div class="footer">
    <div class="footer_resize">
	<div>
      <p class="lf">&copy; Copyright Radiaranai.com. Designed by Blue <a href="http://www.bluewebtemplates.com">Website Templates</a></p>
      <ul class="fmenu">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="support.html">Support</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="contact.html">Contacts</a></li>
      </ul>
      </div>
    </div>
    <div class="clr"></div>
  </div>
