<div class="header">
    
<div class="panel">
	<div class="logo"></div>
	<div class="visi">
		MENJADI MITRA PROESIONAL DAN TERPERCAYA DALAM SETIAP MOMENT TERBAIK ANDA
	</div>
</div>

<div class="menu_nav">
<div class='line'></div>
<div class="menu_wrap">
  <div class='{% if menu=='TRAVEL' %}active{% endif %} menu parent_menu' >
	<a href="/">Tour & Travel</a>
	<div class='submenu'>
		<a href="#">Paket Wisata</a>
		<a href="#">Ticketing</a>
		<a href="#">Voucher Hotel</a>
	</div>
  </div>
  <div class='{% if menu=='ADV' %}active{% endif %} menu parent_menu' >
	<a href="/adv/">Advertising</a>
	<div class='submenu'>
		<a href="#">Mug</a>
		<a href="#">Banner</a>
		<a href="#">Percetakan</a>
	</div>
</div>
  <div class='{% if menu=='TESTI' %}active{% endif %} menu' ><a href="/testimoni/">Testimoni</a></div>
  <div class='{% if menu=='ABOUT' %}active{% endif %} menu'><a href="/tentang/">Tentang Kami</a></div>
</div>

</div>

<div class="header_shadow"></div>
<div class="pikachoose slideshow" >
	<ul id="pikame" class="jcarousel-skin-pika" >
		<li><img src="/static/slideshow/branding.jpg"/><span>Branding sticker.</span></li>
		<li><img src="/static/slideshow/buku_yasin.jpg"/><span>Buku yasin</span></li>
	</ul>
</div>
</div>